<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <h1>About</h1>
      <p class="mt-5">
        家電リファレンスは</br>
        全国のご利用者様から頂いた投稿を元に、</br>
        これから家電のご購入を検討されている方や</br>
        家電の評価などを知りたい方のための</br>
        レビューサイトとなっております。
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <p>
        会員登録をすることで、</br>
        ご自身でのレビューの投稿やいいね機能、</br>
        レビューに対するコメントなども投稿することが</br>
        出来るようになりますので</br>
        是非、ご登録ください。
      </p>
    </div>
  </div>
</div>